<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Recommendation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Restaurant Recommendation</h1>
      <form action='location'>
        {% csrf_token %}
        <div class="form-group">
          <label for="address">Enter Address:</label>
          <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="form-group">
          <label for="food-type">Select Food Type:</label>
          <select class="form-control" id="food-type" name="food-type" multiple>
            <option value="italian">Italian</option>
            <option value="mexican">Bars</option>
            <option value="indian">Indian</option>
            <option value="chinese">Deli</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
